body {
    margin: 0;

}

.container {
    margin: 0;
    width: 80%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--branco);
    border-bottom: 2px solid var(--azulDegrade2);
    height: 6em;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.header .img-logo-header {
    width: 200px;
}

.header a {
    text-decoration: none;
    color: black;
    padding: 7px;
    transition: 1s;
}

.header #aqui {
    background: var(--azulPrincipal);
    color: var(--branco);
    padding: 8px;
    border-radius: 5px;
}

.header #aqui:hover {
    background-color: var(--branco);
    color: var(--azulPrincipal);
    border: 2px solid var(--azulPrincipal);
}

.header a:hover {
    border-bottom: 2px solid var(--azulPrincipal);
    transition: .2s ease-in;
}

.formulario {
    background-image: linear-gradient(to left, var(--azulDegrade), var(--azulDegrade2));
    width: 100%;
    height: 40em;
    display: block;
    text-align: center;
}

.formulario .titulo {
    /* border: 2px solid yellow; */
    font-size: var(--tamanhoTitulos);
    color: var(--branco);
    height: 10vh;
    margin-bottom: 0;

}

.formulario .container {
    display: flex;
    /* border: solid 2px blue; */
    width: 50%;
    margin: auto;
    height: 30em;

}

.formulario .container .busca {
    /* border: solid 2px green; */
    margin: auto;
}

.formulario .container .busca .box input {
    outline: none;
    border: none;
    width: 120%;
    height: 2em;
    background: transparent;
    color: var(--branco);
    border-bottom: solid 2px var(--branco);
    /* margin-bottom: 10px; */
    font-size: 1rem;
}

.formulario .container .busca span {
    color: var(--branco);
    font-size: 1rem;

}

.formulario .container .busca a {
    color: var(--branco);
    text-decoration: none;
}

.box {
    position: relative;
    width: 100%;
}

.box label {
    position: absolute;
    left: 0;
    bottom: 5px;
    cursor: text;
    transition: 0.5s ease-in-out;
    color: var(--branco);
}

.box input#buscaEmpresa:focus~label,
.box input#buscaEmpresa:valid~label {
    transform: translateY(-25px);
    font-size: 0.75rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    background-color: #F9F9F9;

}

.listas_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.listas_footer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    line-height: 3rem;
}