.formulario {
    background-image: linear-gradient(to left, var(--azulDegrade), var(--azulDegrade2));
    width: 100%;
    height: 40em;
    display: block;
    text-align: center;
}

.formulario .titulo {
    /* border: 2px solid yellow; */
    font-size: var(--tamanhoTitulos);
    color: var(--branco);
    height: 10vh;
    margin-bottom: 0;

}

.formulario .container {
    display: flex;
    /* border: solid 2px blue; */
    width: 50%;
    margin: auto;
    height: 30em;

}

.formulario .container .busca {
    /* border: solid 2px green; */
    margin: auto;
    font-size: 1.5rem;
    width: 60%;
}

.formulario .container .busca .box input {
    outline: none;
    border: none;
    width: 110%;
    height: 2em;
    background: transparent;
    color: var(--branco);
    border-bottom: solid 2px var(--branco);
    /*margin-bottom: 10px; */
    font-size: 1rem;
}
#clique_aqui{

    color: blue;
}

.formulario .container .busca span {
    color: var(--branco);
    font-size: 0.7rem;
    
   

}

.formulario .container .busca a {
    color: var(--branco);
    text-decoration: none;
}

.box {
    position: relative;
    width: 100%;
}

.box label {
    position: absolute;
    left: 0;
    bottom: 5px;
    cursor: text;
    transition: 0.5s ease-in-out;
    color: var(--branco);
}

.box input#buscaEmpresa:focus~label,
.box input#buscaEmpresa:valid~label {
    transform: translateY(-25px);
    font-size: 0.75rem;
}