@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

    /* 
       Variaveis e tamanhos pré-definidos 
       ** Variaveis **
        - Para utilizar coloque var(--nomeDaVariavel)
    */

    /* 
       CORES:
       Azul principal - cor principal: utilizado em botões, alguns textos, degradê
       Preto - títulos: juntamente em bold
       Preto - textos: Sem bold  
       Branco - Utilizado em botões, fundos, cor de fontes, etc
       Degradê - Azul degradê + degradê 2
       ----------------------------------------------------------------------------------
       FONTES:
       Fonte padrão: Poppins
       Fonte secundária: Arial, helvetica, sans-serif
       ----------------------------------------------------------------------------------
       TAMANHOS:
       Tamanho fonte padrão: 16px = 1rem
       Tamanho da logo marca: "Smart Analytic Machine"
       Tamanho Títulos: Utilizado em h1s, etc 
       TamanhoTxt: tamanho utilizado nos textos normais

    */
    --azulDegrade: (#3E838C);
    --azulDegrade2: (#22A59F);
    --azulPrincipal: (#1EA49D);
    --preto: (#222222);
    --branco: (#FFFFFF);
    --tamanhoTxt: 1.5rem;
    --tamanhoLogoMarca: 1.5rem;
    --tamanhoTitulos: 3.75rem;
    font-size: 16px;
    font-family: 'Poppins', Arial, helvetica, sans-serif;
}

body{
    margin: 0;

}

.container {
    margin: 0;
    width: 80%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--branco);
    border-bottom: 2px solid var(--azulDegrade2);
    height: 6em;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.header .img-logo-header {
    width: 200px;
}

.header a {
    text-decoration: none;
    color: black;
    padding: 7px;
    transition: 1s;
}

.header #aqui {
    background: #1EA49D;
    color: white;
    padding: 8px;
    border-radius: 5px;
}

.header a:hover {
    transition: 1s;
    background: #1EA49D;
    color: white;
    padding: 8px;
    border-radius: 5px;
}

.formulario {
    background-image: linear-gradient(to right, #22a59e65, #3E838C);
    width: 100%;
    height: 40em;
    display: block;
    text-align: center;
}

.formulario  .titulo{
    /* border: 2px solid yellow; */
    font-size: 2.5rem;
    color: white;
    height: 10vh;
    margin-bottom: 0;
    
}



.formulario .container {
    display: flex;
    /* border: solid 2px blue; */
    width: 50%;
    margin: auto;
    height: 30em;

}

.formulario .container .busca{
    /* border: solid 2px green; */
    margin: auto;
}

.formulario .container .busca .box input{
    border: none;
    width: 120%;
    height: 3em;
    background: none;
    color: white;
    border-bottom: solid 2px white;
    margin-bottom: 10px;
   font-size: 1rem;
}

.formulario .container .busca .box input::placeholder{
    color: white;
    font-family: Poppins;
    font-size: 1.50rem;
    
}

.formulario .container .busca .box input:focus{
    outline: 0;
    
}

.formulario .container .busca span{
    color: white;
    font-family: Poppins;
    font-size: 1rem;
    
}

.formulario .container .busca a{
    color: #0029FF;
    text-decoration: none;
}

.footer{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 30rem;
     background-color: #F9F9F9;
    
  }
  .listas_footer{
     display: flex;
     justify-content: center;
     align-items: center;
     justify-content: space-between;
  }
  .listas_footer ul{
     display: flex;
     flex-direction: column;
     list-style: none;
     line-height: 3rem;
  }
