@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins';
    
    
    
	
}
/*Header*/

header{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
    margin: 0 1px 0px;
	padding: 20px 0px;
	z-index: 5;
	background: #FFFFFF;
}

header .logo{
	position: relative;
    right: 210px;
	font-size: 1rem;
	color: #222222;
	text-decoration: none;
	font-weight: 600;
}

header .navegacao{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 10px 0;
    position: relative;
    right: 170px;
}

header .navegacao li {
	list-style: none;
	margin: 0 10px;
}

header .navegacao li a{
	color: #222222;
	text-decoration: none;
	font-weight: 400;
	letter-spacing: 1px;
    font-size: 0.96rem;
}
header .navegacao li a:hover{
	color:#1EA49D;
	transition: 1s;
	
}
header button{
	
	background-color:#1EA49D;
	border-radius:9px;
	border:1px solid #1EA49D;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1rem;
	padding:9px 23px;
    margin-right: 45px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
	font-family: 'Poppins';
	
}

@media(max-width:991px) {
	header{
		padding: 10px 20px;
		flex-direction: column;

	}
    header .logo{
        position: relative;
        left:15px;
       
    }
    header .navegacao{
        position: relative;
        left: 14px;
    }
    header .button{
        position: relative;
        left: 30px;
    }

    header .logo{
      display: none;
    }
    header .imgLogo{
        position: relative;
        left: 10px;
    }
    
	
}


/*corpo*/


    *{
        margin: 0;
        padding: 0%;
        box-sizing: border-box;
        overflow-x: hidden;
        font-family: 'Poppins', Arial, helvetica, sans-serif;
        
        
    }


.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "left main"
    "footer footer";
    grid-template-columns: 45% 4fr;
    grid-template-rows: 1fr 0px;
  }
  
  
  .left {
    grid-area: left;
    position: relative;
    height: 600px;
    width: 600px;
    background-image: url('./img/ilovepdf_pages-to-jpg/logo_page-0001.jpg'); 

  }
  .main {
    grid-area: main;
  }
  .footer {
    grid-area: footer;
  }

  img{
    position: relative;
    left: 1px;
    width: 463px;
    height: 100%;
  }

  .container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "a-k2OOZ a-k2OOZ"
    "left main"
    "footer footer";
    grid-template-columns: 35% 4fr;
    grid-template-rows: 80px 1fr 80px;
    border: #1EA49D;
  }
  
  .a-k2OOZ {
    grid-area: a-k2OOZ;
  }

  .mulher{
    object-fit: cover;
    width:100%;
    height: 100%;
 -webkit-mask-image: linear-gradient(to top, transparent 6%, black 100%);

  }
  .left {

    background-image: linear-gradient(10deg, rgb(10, 10, 10) 0%, rgb(8, 8, 8) 20%);
    background-position: center;
    grid-area: left;
    overflow-y: hidden;
    background-size: cover;
 
  }
  .main {
   
    grid-area: main;
    background: linear-gradient(90deg, #70C5C1 25.31%, #3E838C 76.87%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  


  /*Input*/
  div .input-single{
    width: 20%;
    margin: 25px 0;
    position: relative;
    align-items: center;
    

    
    
    }
    
    .titulo{
        position:relative;
        left: 33%;
        font-size: 2.0rem;
        top: 40px;
        font-weight: 400;
        color: #FFFFFF;
    
    }
    
    div .input-single{
    width: 250px;
    margin: 25px 0;
    position: relative;
    left:45%;
    top: 35px;

    
    
    }
    
    div .input-single label{
    
        position: absolute;
        font-size: 1rem;
        left: 0;
        bottom: 2px;
        color: #fdfdfd;
        
        }
    
      div .input-single input{
        width: 100%;
        padding: 7.9px;
        color: #ffffff;
        border: 0;
        border-bottom: 2px solid rgb(255, 255, 255);
        background: transparent;
        outline: 0;
        font-size: 16px;
        cursor: text;
        transition: 1 ease-in-out;
       
        }
    
        div .input-single input:focus,
        div .input-single input:valid{
            border-bottom: 2px solid #ffffff;
        }

        .imgLogo{
            width: 35px;
            position: relative;
            top: px;
            left: 25px;


        }
            
        
    
        div .input-single input:focus ~label,
        div .input-single input:valid ~label{
        transform: translateY(-24px);
        font-size: 12px;
        }
    
    .cadastro{
        position: relative;
        width: 100px;
        
        border-radius: 8px;
        top: 110px;
        bottom: 190px;
        left: 55%;
        color: #FFFFFF;
        border: #222222;
        height: 35px;
        background-color: #222222;

    }
    
    
    .linkLogin{
    color: #222222;
    font-size: 0.80rem;
    position: relative;
    left: 52%;
    top: 120px;
    }
    
  

    .captcha{
        width: 250px;
        position: relative;
        bottom:50px;
        left: 46%;


    }

   @media screen and(max-width:780) {
    .container .left{
        background-color: #222222;
    }
   }


   /*footer*/
.ajusteFootes{
    background-color: #ffffff;
    padding: 10px 20px;
    position: relative;
    top: 500px;
    
}

footer{
    background-color: #fcfcfc;
    padding: 10px 20px;
    
    
}
.container-footer{
    max-width: 1400px;
    padding: 0 2%;
    margin: auto;
    position: relative;
    
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}
.footer-col-logo{
position: relative;

}


.footer-col{
    width: 25%;
    padding: 0px 0px;
}
.textoFooter{
   font-weight:700;
   font-size:1rem ; 
}

.footerFinal{
    position: relative;
    top: 50px;

}


.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #050505;
    padding-left: 10px;
}


/* Responsivo Footer*/
@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
}


/*Responsividade Login*/

@media (max-width:868px) {
    .left {
        display: none;
    }
    .container .main{
        width: 800px;
    }
     .main{
        width: 9px;
        position: relative;
        right: 250px;
        padding: 2px;
        background: linear-gradient(90deg, #70C5C1 25.31%, #3E838C 76.87%);
        margin: 50px;
    } 
    .main .input-single {
        width: 250px;
        position: relative;
        left: 150px;
       
    } 
    .main .titulo{
        
        font-size: 1.2rem;
        position: relative;
        left: 140px;
    }

    .main .cadastro{
        font-size: 14px;
        position: relative;
        left: 225px;
        top: 110px;
    }
    .main .captcha{
        font-size: 14px;
        position: relative;
        left: 150px;
        bottom: 55px;
    }
    .main .linkLogin{
        position: relative;
        left: 200px;
        bottom: 45px;
    }

    .main .textoFooter{
        position: relative;
        bottom: 70px;
    }
}
@media (max-width:450px) {
    .left {
        display: none;
    }
    .container .main{
        width: 800px;
    }
     .main{
        width: 9px;
        position: relative;
        right: 250px;
        padding: 2px;
        background: linear-gradient(90deg, #70C5C1 25.31%, #3E838C 76.87%);
        margin: 50px;
    } 
    .main .input-single {
        width: 250px;
        position: relative;
        left: 150px;
       
    } 
    .main .titulo{
        
        font-size: 1.2rem;
        position: relative;
        left: 140px;
    }

    .main .cadastro{
        font-size: 14px;
        position: relative;
        left: 225px;
        top: 110px;
    }
    .main .captcha{
        font-size: 14px;
        position: relative;
        left: 150px;
        bottom: 55px;
    }
    .main .linkLogin{
        position: relative;
        left: 200px;
        bottom: 45px;
    }
    
}
